.EduForm {
    .inputGroup {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 10px;
    }

    .selection {
        display: flex;
        flex-direction: column;
    }

    input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }

    @media screen and (max-width: 768px) {
        .inputGroup {
            grid-template-columns: 1fr;
        }
    }
}