.button {
  padding: 5px 20px;
  border: none;
  background: #14346440;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  transition: all 200ms;
  cursor: pointer;

  &:hover {
    background: #143464;
    color: #ffffff;
  }
}

.buttonActive {
  @extend .button;
  background: #143464;
  color: #ffffff;

  &:hover {
    background: #14346440;
  }
}
