.about {
  min-height: 100dvh;
  padding: 240px;

  img {
    border-radius: 20px;
  }

  .paragraph {
    text-align: left;
  }

  @media screen and (max-width: 1300px) {
    padding: 24px;
  }

  @media screen and (max-width: 512px) {
    img {
      width: 100%;
      height: 100%;
    }

    .paragraph {
      text-align: center;
    }
  }
}
