.about {
  min-height: 100dvh;
  padding: 0 10%;

  .image {
    position: relative;
    user-select: none;
    transition: all 200ms;

    &:hover {
      transform: scale(1.02);
    }

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 320px;
      height: 320px;
      background-image: linear-gradient(90deg, rgba(20, 52, 100, 1) 50%, rgba(20, 52, 100, 1) 50%);
      filter: blur(100px);
      transform: translate(-50%, -50%);

      @media screen and (max-width: 280px) {
        display: none;
      }
    }

    img {
      isolation: isolate;
      border-radius: 16px;
    }
  }

  .paragraph {
    font-size: 18px;
    text-align: left;
    text-indent: 50px;
  }

  @media screen and (max-width: 1020px) {
    .paragraph {
      font-size: 16px;
      text-align: center;
      text-indent: 0;
    }
  }

  @media screen and (max-width: 512px) {
    text-align: center;

    .image {
      img {
        width: 80%;
        height: 80%;
      }
    }
  }
}
