.main {
  min-height: 100dvh;
  background-color: #150627;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-bottom: 12px;
}

.condition {
  padding: 0 150px;
  margin-bottom: 30px;
  font-size: medium;
  font-weight: 600;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
}

.condition div {
  display: flex;
  text-align: center;
  align-items: center;
  border: 2px solid #333;
  height: 200px;
  width: 100%;
  padding: 30px;
}

.condition2 {
  font-size: medium;
  font-weight: 600;
  text-align: center;
}