.main {
  min-height: 100dvh;
  padding: 0 10%;
  .conditionItems {
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #50505050;
    border-radius: 16px;
    background-color: #1a408d40;
    height: 200px;
    padding: 30px;
  }
  
  .moreCondition {
    text-align: center;
  }
}
