.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  min-height: 100dvh;
  background-color: #150627;

  .logo {
    height: auto;
    width: 640px;
  }

  .campDate {
    white-space: nowrap;
    font-size: 64px;
    margin-block: 10px 40px;
  }

  .content {
    font-size: 20px;
    text-align: center;
    width: 548px;
  }

  @media screen and (max-width: 768px) {
    .logo {
      width: 100%;
    }

    .content {
      width: 100%;
      padding-inline: 25px;
    }

    .campDate {
      font-size: 40px;
      margin-block: 0;
    }
  }

  @media screen and (max-width: 350px) {
    .campDate {
      font-size: 32px;
      margin-block: 0;
    }
  }
}
