.highlight {
  min-height: 100dvh;
  padding: 0 10%;

  .contents {
    margin-top: 24px;
    gap: 24px;

    .content {
      padding: 24px 45px;
      border: 1px solid #50505050;
      border-radius: 16px;
      background-color: #1a408d40;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      padding: 24px;
    }
  }
}
