.sponsor {
  padding: 0 10%;
  margin-bottom: 10rem;

  .contents {
    margin-top: 24px;
    gap: 24px;

    .logo {
      background-color: #1a408d40;
      border: 1px solid #50505050;
      border-radius: 10px;
      transition: all 200ms;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px;
      height: 200px !important;;
      img {
        max-width: 100%;
        max-height: 100%;
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 12px 0 #285cc440;
      }
      @media screen and (max-width: 318px) {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
