.announcement {
  min-height: 100vh;
  gap: 24px;
  padding: 0 10%;

  .content {
    width: 100%;
    display: grid;
    row-gap: 10px;
    font-size: larger;
  }
}

.button {
  padding: 5px 20px;
  border: none;
  background: #14346440;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  transition: all 200ms;
  cursor: pointer;
  font-family: 'Prompt', sans-serif !important;
  text-decoration: none;

  &:hover {
    background: #143464;
    color: #ffffff;
  }
}
.buttonActive {
  @extend .button;
  background: #143464;
  color: #ffffff;

  &:hover {
    color: #ffd541;
    background: #14346440;
  }
}
