.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #000000;
}

.navbarLogo {
    height: 48px;
    position: relative;
    width: 135px;
    object-fit: contain;
}