@import '../../_variable.scss';

.navbar {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  background-color: #1d093750;
  z-index: 100;
  border: 1px solid #50505050;
  border-radius: 16px;
  margin: 12px;

  .nav_mobile {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .nav_desktop {
      display: none;
    }

    .nav_mobile {
      display: block;
    }
  }

  .avatar {
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms;

    &:hover {
      background-color: #50505050;
    }
  }
}

.nav_menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1d093750;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #50505050;
  min-height: 100dvh;
  padding: 8px 12px 12px 12px;
}

.nav {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  transition: all 200ms;
  font-family: 'Prompt', sans-serif !important;

  &:hover {
    color: $primary-color;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    text-align: center;
  }
}

.navbarLogo {
  width: 100px;
  pointer-events: none;
  margin-top: 10px;
}
