@import "https://fonts.googleapis.com/css2?family=Prompt&display=swap";

@font-face {
  font-family: "Upheavtt";
  src: url(fonts/upheavtt.ttf) format("truetype");
}

body,
input,
textarea,
button {
  font-family: "Prompt", sans-serif;
}

.title {
  font-family: "Upheavtt", sans-serif;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
