@import '../../variable';

.cookieConsent {
  position: fixed;
  bottom: 10px;
  width: 500px;
  right: 10px;
  padding: 20px;
  background-color: #1a408d70;
  border-radius: 16px;
  border: 1px solid #50505050;
  backdrop-filter: blur(10px);

  a {
    text-decoration: none;
    color: $primary-color;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 16px 16px 0 0;
  }
}
